<div class="container">
    <h2>Biography</h2>
    <hr>
    <p>He is a South African comedian, TV host and political commentator born in 1984 in Johannesburg from a
        Swiss-German father and a Xhosa mother. <br>
        Let's just say that being born during Apartheid wasn't easy! His father was identified as White, his mother
        Black and he was identified as Coloured! <br>
        His parents relationship was illegal at the time so he had to live in a Soweto township with his mother and
        Grandmother...
    </p>

    <h2>Career</h2>
    <hr>
    <p></p>

    <h2>Influence</h2>
    <hr>
    <p></p>

    <h2>Personal life</h2>
    <hr>
    <p></p>

    <a href="https://en.wikipedia.org/wiki/Trevor_Noah" target="_blank">Check out his Wikipedia page for more info.</a>
</div>