<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Welcome to Trevor Noah's fan page</h1>
            <p>From aspiring stand-up comedian in South Africa to host of The Daily Show in New York City!</p>
            <a href="/works" class="btn btn-lg btn-primary">His work</a>
            <a href="/about" class="btn btn-lg btn-info">Learn more</a>
        </div>
        <div class="col-md-3">
            <img src="{{picture}}" alt="Trevor Noah at Parx Casino" class="img-fluid mt-5">
        </div>
    </div>
</div>