<div class="container mb-5">
    <h2>Stand Up Comedy</h2>
    <hr>
</div>
<div class="container">
    <div class="card-group">
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3rEgz7p" class="card-img-top" alt="The Daywalker">
            <div class="card-body">
                <h5 class="card-title">The Daywalker</h5>
                <p class="card-text">Directed by Kyle Ambrose & Delon Bakker</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Trevor's first stand-up comedy show at the Lyric Theatre in Johannesburg, South Africa.
                </p>
                <a href="https://imdb.to/3rCnPkp" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3qQHQVb" class="card-img-top" alt="Crazy Normal">
            <div class="card-body">
                <h5 class="card-title">Crazy Normal</h5>
                <p class="card-text">Directed by David Paul Meyer</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Filmed during his "farewell for now" tour of SA before leaving for America, this DVD
                    has Noah delivering more of his razor-sharp comedy that takes no prisoners.</p>
                <a href="https://imdb.to/3AuBIoH" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3FQEmq2" class="card-img-top" alt="That's Racist">
            <div class="card-body">
                <h5 class="card-title">That's Racist</h5>
                <p class="card-text">Directed by David Paul Meyer</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">In Johannesburg, Trevor Noah talks about the issues of racism. Cleverly placing a
                    comedic spin to each problem.</p>
                <a href="https://imdb.to/3AuBIoH" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3fLC7td" class="card-img-top" alt="African American">
            <div class="card-body">
                <h5 class="card-title">African American</h5>
                <p class="card-text">Directed by Ryan Polito</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Trevor Noah takes the stage in "African American" to explore his often-bewildering
                    journey of arriving in America and simply wanting to be "black." Noah shares his perspective of growing
                    up a mixed-race child under Apartheid, and fearlessly breaks down racial stereotypes on all sides by
                    becoming what Newsweek calls a "cultural chameleon."</p>
                <a href="https://imdb.to/3nQueXU" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/32npzW5" class="card-img-top" alt="It's My Culture">
            <div class="card-body">
                <h5 class="card-title">It's My Culture</h5>
                <p class="card-text">Directed by David Paul Meyer</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Trevor Noah performs to a Johannesburg audience, talking about some interesting aspects of African cultures.</p>
                <a href="https://imdb.to/3fPiSz2" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3Anbvby" class="card-img-top" alt="Lost in Translation">
            <div class="card-body">
                <h5 class="card-title">Lost in Translation</h5>
                <p class="card-text">Directed by David Paul Meyer</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Trevor Noah talks about everything from terrorism to police brutality, Ebola, his grandmother and the origin of the cheer "woo-hoo".</p>
                <a href="https://imdb.to/3tTK5J8" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3FLPxAh" class="card-img-top" alt="Pay Back The Funny">
            <div class="card-body">
                <h5 class="card-title">Pay Back The Funny</h5>
                <p class="card-text">Directed by David Paul Meyer</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Yet another classic stand up comedy by South Africa's top comedian.</p>
                <a href="https://imdb.to/3tNGhci" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="https://bit.ly/3qQG06D" class="card-img-top" alt="Afraid of the Dark">
            <div class="card-body">
                <h5 class="card-title">Afraid of the Dark</h5>
                <p class="card-text">Directed by David Paul Meyer</p>
                <p class="card-text">Written by Trevor Noah</p>
                <p class="card-text">Amazing comedy covering race in America, immigration politics, international relations and more.</p>
                <a href="https://imdb.to/3KvJ28a" target="_blank" class="btn btn-primary">More info</a>
            </div>
        </div>
    </div>
</div>